@model IEnumerable<BTL_LTQL.Models.HopDong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hợp đồng</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Mã hợp đồng</label>
        </th>
        <th>
            <label>Mã nhân viên</label>
        </th>
        <th>
            <label>Tên nhân viên</label>
        </th>
        <th>
            <label>Ngày ký</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_hd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_nv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_nv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngayky_hd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_hd }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_hd }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_hd })
        </td>
    </tr>
}

</table>
